body {

    font-size: 100%;
    font-family: monospace;
}

.container {

    display: flex;
    


}

.box {
    background-color: #5739c4;
    border: 2px solid #0ac532;
    border-radius: 10px;

    font-family: Arial, sans-serif;
    color: #ffffff;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

}